@media print {
    @page {
      size: auto; /* Ajusta el tamaño de la página automáticamente */
      margin: 0; /* Elimina márgenes */
    }
    body {
      margin: 0;
      padding: 0;
    }
    #printArea {
      page-break-inside: avoid; /* Evita saltos de página dentro del área de impresión */
    }
  }